.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  padding: 2rem;
}

.container h1 {
  font-size: 6rem;
  color: #809dbf;
  margin: 0;
}

.container h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.container p {
  margin-bottom: 2rem;
  max-width: 400px;
}

.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #809dbf;
  color: #f9f9f9;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.3s;
}

.button:hover {
  background-color: #617fbf;
}
